# OS
.DS_Store

# IDE
.idea/
*.iml

# Android
*.apk
local.properties
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/

# Python
__pycache__/
*.pyc
.env
*.egg-info/

# Virtual environments
venv/
.venv/

# Temp files
*.log

# OMC
.omc/
